$total-columns: 12;
$full-cols: $total-columns;
$half-cols: $total-columns / 2;
$thirds-cols: $total-columns / 3;
$two-thirds-cols: ($total-columns / 3) * 2;
$quarter-cols: $total-columns / 4;
$sixth-cols: $total-columns / 6;
$eighth-cols: $total-columns / 8;
$twelfth-cols: $total-columns / 12;