<div class="overlay modal">
	<div class="popup">
		<form {{action loginHandler on="submit"}}>
			<label>Nickname</label>{{input value=name class="string"}}<button>Start!</button>
		</form>
	</div>
</div>