/* Put your CSS here */
html, body { height: 100%; }
.ember-view { height: 100%; }
#map-canvas { width: 100%; height: 100%; }
#friends-list, #message-box { position: absolute; background: rgba(255,255,255,.7) }
#message-box { bottom: 0; width: 80%; height: 10%; }
/*#message-box button { position: absolute; right: 0; bottom: 0; }*/
#friends-list { list-style: none; position: absolute; top: 0; right: 0; height: 100%; width: 20%; padding: 0; margin: 0; }
#friends-list li { padding: 2px; }
#friends-list li:hover { background: #FFF; }